body {font-family: 'Open Sans', sans-serif;}
a, a:visited{
    color:#3dc1f0;
}

a:hover, a:active{
    text-decoration:none;
}
h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.mainContent, footer.container {
    max-width: 900px;
}

footer.container {
    margin-top: 30px;
    padding: 30px 0;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}
.navbar .navbar-inverse .navbar-fixed-top, .navbar-inverse .navbar-inner{
    background-color: #002c40;
    background-image: linear-gradient(to bottom, #1a2434, #000b0f);
    background-repeat: repeat-x;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color:#d2d2d2;
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav>li>a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav>li>a:focus  {
    color:#e2e2e2;
}
@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav>li>a:hover,
    .navbar-inverse .nav-collapse .nav>li>a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color: #002c40;
    }
}
h1 {
    color:#002c40;
}
.mainContent p{
    line-height:1.5rem;
}
.navbar .nav>li>a {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size: large;
    padding:17px 15px 10px;
}

.navbar .brand {
    padding:8px 20px 10px;
}
